/* Modified from:
 *     https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#tab-numbering-and-counting
 */
#tabbar {
  counter-reset: vtabs atabs tabs;
  /* vtabs tracks visible tabs, atabs tracks active tabs, tabs tracks all tabs */
}
tab-item:not(.collapsed):not(.discarded) {
  counter-increment: vtabs atabs tabs;
  height: 2em;
  margin-left: 0.4em;
}
tab-item:not(.collapsed) {
  counter-increment: vtabs tabs;
}
tab-item:not(.discarded) {
  counter-increment: atabs tabs;
}
tab-item {
  counter-increment: tabs;
}
tab-item .extra-items-container.behind {
  z-index: unset !important;
}
tab-item .extra-items-container.behind::before {
  background-color: rgba(255,255,255,0.8);
  content: counter(tabs);
  font-size: medium;
  font-weight: bold;
  padding-right: 0.2em;
  pointer-events: none;
  position: absolute;
  z-index: 999000;
}
