#UnitInfo {
	position: fixed;
	width: 244px;
	z-index: 32301;
	color: white;
	font-size: 11px;
	overflow: hidden;
	font: 11px/19px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	cursor: default;
}

#UnitInfo_Close {
	position: absolute;
	top: 1px;
	left: 1px;
	height: 19px;
	width: 18px;
	background: url('../images/close.png') no-repeat center center;
	cursor: pointer;
}

#UnitInfo_Close:hover {
	background: url('../images/close_hover.png') no-repeat center center;
}

#UnitInfo_DragHandle {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 19px;
	cursor: pointer;
}


.ClickIndicator {
	height: 20px;
	width: 20px;
	border: 1px solid #9f9f9f;
	background-color: #dfdfdf;
	opacity: 0.75;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.ClickIndicator2 {
	position: relative;
	top: 10px;
	left: 10px;
	height: 1px;
	width: 1px;
	background-color: black;
}


#UnitInfo .level1 {
	position: relative;
	padding-left: 0px;
	color: white;
}

#UnitInfo .level2 {
	padding-left: 19px;
	color: white;
}

#UnitInfo .level3 {
	position: relative;
	padding-left: 19px;
	overflow: hidden;
	color: white;
}

#UnitInfo .level4 {
	position: relative;
	overflow: hidden;
	color: white;
}

#UnitInfo .level5 {
	position: relative;
	top: 0;
	left: 0;
	padding: 4px 0 0 0;
	color: white;
}

#UnitInfo .level6 {
	height: 7px;
	color: white;
}

#UnitInfo .split1 {
	width: 92px;
	padding-right: 12px;
	padding-top: 3px;
	float: left;
	text-align: right;
}

#UnitInfo .split2 {
	width: 92px;
	padding-top: 3px;
	float: left;
}

#UnitInfo .split3 {
	width: 136px;
	padding-top: 3px;
	padding-right: 9px;
	float: left;
	text-align: right;
}

#UnitInfo .split4 {
	width: 136px;
	padding-top: 3px;
	float: left;
}

#UnitInfo .clear {
	clear: both;
}

#UnitInfo .center {
	text-align: center;
	padding: 6px 12px;
}




#UnitInfo_Measurement {
	background: url('../images/unit.png') no-repeat bottom left;
}

#UnitInfo_Info {
	background: url('../images/info.png') no-repeat bottom left;
}

#UnitInfo_Difference {
	display: none;
	background: url('../images/difference.png') no-repeat bottom left;
}

#UnitInfo_Colour {
	display: none;
	background: url('../images/colour.png') no-repeat bottom left;
}

.level5 { background: url('../images/bg.png') repeat bottom left; }
#UnitInfo_Info .level5 { background: url('../images/bg_shade.png') repeat top left; }
#UnitInfo_Colour .level5 { background: url('../images/bg_shade.png') repeat top left; }


#UnitRuleHoriz {
	background: url('../images/horiz_rule.png') repeat center left;
}

#UnitRuleVert {
	background: url('../images/vert_rule.png') repeat top center;
}





#UnitInfo_Colour {
	display: none;
}

#UnitInfo_Colour .colour {
	height: 8px;
	width: 22px;
	float: left;
	cursor: pointer;
}

#UnitInfo_Colour .colour_selected {
	height: 4px;
	width: 18px;
	float: left;
	cursor: pointer;
	border: 2px solid #A3C8F0;
}

#UnitInfo_Colour .c1 { background-color: #000000; }  /* Black      */
#UnitInfo_Colour .c2 { background-color: #BF0303; }  /* Red        */
#UnitInfo_Colour .c3 { background-color: #BF0361; }  /* Pink       */
#UnitInfo_Colour .c4 { background-color: #85026C; }  /* Violet     */
#UnitInfo_Colour .c5 { background-color: #34176E; }  /* Navy       */
#UnitInfo_Colour .c6 { background-color: #00438A; }  /* Blue       */
#UnitInfo_Colour .c7 { background-color: #006066; }  /* Blue-green */
#UnitInfo_Colour .c8 { background-color: #00734D; }  /* Dark green */
#UnitInfo_Colour .c9 { background-color: #00892C; }  /* Green      */
#UnitInfo_Colour .c10 { background-color: #F3C300; } /* Yellow     */
#UnitInfo_Colour .c11 { background-color: #888A85; } /* Grey       */
#UnitInfo_Colour .c12 { background-color: #FFFFFF; } /* White      */

